<% var title = 'EJSのタイトル' %>
<% var hoge = 'booo' %>
<% var tag = '<h2>ハロー</h2>' %>
<!DOCTYPE html>
<html lang="ja"">
<%- include('common/_head.ejs'); %>
<body>
  <h1><%- title %></h1>
  <h2><%= hoge %></h2>
  <%- tag %>
  <%= tag %>
</body>
</html>